@{
    ViewData["Title"] = "Yönetici Paneli";

}

<h2>@ViewData["Title"]</h2>

<button onclick="location.href='Kitaplar'" class="btn btn-az-primary btn-block">Kitaplar</button>
<button onclick="location.href='KitapEkle'" class="btn btn-az-primary btn-block">Kitap Ekle</button>
<button onclick="location.href='Yorumlar'" class="btn btn-az-primary btn-block">Yorumları Yönet</button>
